@import "../neat/neat-helpers";

// Width Breakpoints
$small: new-breakpoint(max-width 767px 6);

$medium-only: new-breakpoint(min-width 768px max-width 1023px 12);
$medium-up: new-breakpoint(min-width 768px 12);
$large-only: new-breakpoint(min-width 1024px max-width 1279px 12);
$large-up: new-breakpoint(min-width 1024px 12);

$xlarge-only: new-breakpoint(min-width 1280px max-width 1799px 12);
$xlarge-up: new-breakpoint(min-width 1280px 12);

$xxlarge: new-breakpoint(min-width 1800px 12);

// Height Breakpoints

$height-small: new-breakpoint(max-height 768px);
$height-medium: new-breakpoint(min-height 769px max-height 899px);
$height-large: new-breakpoint(min-height 900px max-height 1199px);
$height-xlarge: new-breakpoint(min-height 1200px);

