body, html {
  margin: 0;
  padding: 0;
}

@mixin aa-text {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  width: 100%;
  height: 100%;
  font-size: 16px;
}

body {
  width: 100%;
  height: 100%;
  background: $white;
  font-family: $sans;

}

.main-content, .sub-content {
  padding: 1rem;
  @include media($medium-up) {
    padding: 3rem;
  }
}

a {
  text-decoration: none;
}

h2 {
  @include aa-text;
  font-size: 1.2rem;
  line-height: $line-small;
  font-weight: $type-bold;
  @include media($medium-up) {
    font-size: 2rem;
  }
}

h5 {
  display: block;
  font-size: 0.615rem;
  font-weight: $type-book;
  line-height: $line-med;
  color: $light-grey;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  // @include aa-text;
  @include media($medium-up) {
    font-size: 0.75rem;
  }
}

.main-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: $white;
  color: $black;
  h2 {
    &:first-of-type {
      @include media($medium-up) {
        max-width: 50%;
      }
    }
  }
  h5 {
    margin-top: 4rem;
  }
  a {
    display: block;
    line-height: 1.2;
    color: $black;
    font-weight: $type-book;
    @include transition(all $hover-out ease-out);
    &:hover {
      color: $red;
      @include transition(all $hover-in ease-out);
    }
  }
}

.logo {
  max-width: 15.5rem;
  margin-bottom: 4rem;
  @include hide-text();
  svg {
    display: block;
    max-width: 100%;
    path {
      fill: $red;
    }
  }
}

.contact {
  color: $black;
  a {
    color: $black;
    @include transition(all $hover-out ease-out);
    &:hover {
      color: $red;
      @include transition(all $hover-in ease-out);
    }
  }

}