// Type Styles
$sans: 'EP-Grotesk', 'Helvetica Neue', Arial, Helvetica, sans-serif;
$type-book: 400;
$type-bold: 700;
$line-small: 1;
$line-med: 1.5;

// Colors
$white: #fff;
$black: #000;
$red: #ff4e4e;

// Speeds
$hover-out: 250ms;
$hover-in: 200ms;